@tailwind base;
@tailwind components;
@tailwind utilities;

.tab{
  /* background-color:rgb(180, 220, 170) ; */
  background: linear-gradient(rgb(96, 93, 93),rgb(221, 204, 204),rgb(211, 211, 174));
  width: 100%;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#img{
  /* width: 40vmax; */
  width: 30vw;
  height: 50vh;
  /* position: relative; */
  /* bottom: 650px; */
  /* left: 50px */
  border-radius: 10px;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cards{
  margin-right: 60%;
  margin-top: 5%;
}

